.discoverpart {
	width: 100%;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.discoverpart__header {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.discoverpart__header > h3 {
	font-size: 1.5rem;
}

.discoverpart > p {
	color: #3d9be9;
	text-align: justify;
	margin: 0 30px;
}

.discoverpart > img {
	width: 50%;
	margin-top: 40px;
	filter: brightness(75%);
}
