.exemple {
  width: calc(100% - 60px);
  height: auto;
  display: flex;
  justify-content: space-between;
}

.exemple img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.exemple-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exemple-text > h4 {
  width: 100%;
  text-align: center;
}

.exemple-text > p {
  width: 100%;
  color: #3d9be9;
  text-align: justify;
  padding: 0 30px;
}

@media only screen and (max-width: 1024px) {
  .exemple {
    flex-direction: column;
  }

  .exemple-text {
    width: calc(100% - 80px);
    margin: 50px;
  }

  .exemple-text > p {
    padding: 0;
  }
}
