footer {
	width: 100%;
	min-height: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

audio {
	width: 100%;
	accent-color: #f37a17;
}

.links {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.links > a,
footer p > a {
	text-decoration: none;
	color: #f37a17;
	padding-left: 5px;
}

.links > a:hover,
footer p > a:hover {
	color: #3d9be9;
}

@media only screen and (max-width: 1024px) {
	.links {
		flex-direction: column;
	}
}
